@font-face {
    font-family: "Gordita";
    src: url("/GorditaBold.otf");
}


body {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin-top: 0;
    /* overflow: hidden; */
    font-family: "Gordita", sans-serif;
    color: black;
    font-weight: 700;
    padding: 50px;
}

div {
    transition: background-color  0.2s;
}

.header {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    letter-spacing: -0.2em;
}

.container {
    /* width: 95vw; */
    /* border: 1px solid black; */
}

.inner-container {
    width: 100%;
    display: flex;
    flex-direction:row;
}

.square {
    background-color: #fff;
    width: 100%;
    border: 1px solid rgba(0,0,0,.02);
}

.selected {
    background-image: url("/assets/b3.png");
    background-size: cover;
}

.b1 {
    background-image: url("/assets/b1.png"); 
}

.b2 {
    background-image: url("/assets/b2.png"); 
}

.b3 {
    background-image: url("/assets/b3.png"); 
}

.b4 {
    background-image: url("/assets/b4.png"); 
}

.b5 {
    background-image: url("/assets/b5.png"); 
}



.title {
    font-size: 5em;
}